.header {
  height: 80px;
}
.header-top {
  height: 40px;
  background-color: #fff;
  border-bottom: 1px solid #1890ff;
  text-align: right;
  padding-right: 20px;
  line-height: 40px;
}
.header-top span {
  margin-right: 15px;
}
.header-bottom {
  height: 40px;
  background-color: #fff;
  display: flex;
  line-height: 40px;
}
.header-bottom-left {
  position: relative;
  width: 25%;
  text-align: center;
}
.header-bottom-right {
  width: 75%;
  text-align: right;
  padding-right: 20px;
}
.header-bottom-right span {
  margin-right: 15px;
}

.header-bottom-left::after {
  content: "";
  position: absolute;
  border-top: 20px solid white;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid transparent;
  top: 100%;
  right: 50%;
  transform: translateX(50%);
}
